<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="course" class="com.aaslin.spring.ConstructorInjectionXML.Course">
        <constructor-arg value="Java Programming"/>
        <constructor-arg value="6"/>
    </bean>

    <bean id="faculty" class="com.aaslin.spring.ConstructorInjectionXML.Faculty">
        <constructor-arg value="Dr. Aditya"/>
        <constructor-arg ref="course"/>
    </bean>
</beans>
