<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>OnlineComplaint</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  
  
    <servlet>
        <servlet-name>RegisterComplaint</servlet-name>
        <servlet-class>com.aaslin.servlets.RegisterComplaintServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterComplaint</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateComplaint</servlet-name>
        <servlet-class>com.aaslin.servlets.UpdateComplaintServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateComplaint</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteResolved</servlet-name>
        <servlet-class>com.aaslin.servlets.DeleteResolvedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteResolved</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
  
  
  
</web-app>